# install from github
# pip3 install -e git+https://github.com/GreenPonik/GreenPonik_Atlas_Scientific_i2c.git#egg=greenponik-altas-scientific-i2c

# upgrade from github
# pip3 install -e git+https://github.com/GreenPonik/GreenPonik_Atlas_Scientific_i2c.git#egg=greenponik-altas-scientific-i2c --upgrade
