-e git+https://github.com/GreenPonik/GreenPonik_Atlas_Scientific_i2c.git#egg=greenponik-altas-scientific_i2c
-e git+https://github.com/GreenPonik/GreenPonik_thermistor_10k.git#egg=greenponik-thermistor-10k
tox==3.18.0
twine==3.2.0
pytest==5.4.3
flake8==3.8.3
check-manifest==0.42